.header-top-bar {
  height: 110px;
  background-color: red;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* Header con fondo negro que se mantiene al hacer scroll */
.custom-header {
  position: fixed;
  top: 10px; /* para que no tape la franja roja */
  width: 100%;
  height: 50px;
  z-index: 9999; /* menor que la franja roja */
  background-color: black;
  padding: 10px 0;
}





.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// .logo {
//   width: 150px; /* Puedes subir este valor según lo grande que lo quieras */
//   height: auto;
//   object-fit: contain;
// }



.logo {
  height: 90px; /* O el tamaño que te guste */
  width: auto;
  object-fit: contain;
}




.cart-btn {
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

.ui-core-asside-cart {
  position: fixed;
  top: 0;
  right: -300px; /* Lo coloca fuera de la pantalla inicialmente */
  width: 300px;
  height: 100%;
  background-color: #000;
  color: white;
  transition: right 0.3s ease;
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 9999;
}

.ui-core-asside-cart.open {
  right: 0; /* Cuando la clase "open" se agrega, el carrito se despliega */
}

.cart-content {
  padding: 20px;
}

.cart-content h3 {
  color: white;
}

.cart-content button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}


/* Estilo general para botones del header */
.header-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 5px 10px;
}

/* Posicionar botones a los extremos del container */
.left-btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
