


/* Recuadro contenedor con scroll */
.boletos-wrapper {
  width: 100%; /* 100% del contenedor */
  max-width: 98vw; /* Aseguramos que no se exceda del 98% del ancho de la pantalla */
  height: 80vh;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  // border: 2px solid #ff3030;
  border-radius: 12px;
  margin: 0 auto; /* Centra el contenedor */
}


/* Grid de boletos */
.boletos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 3px;
}

/* Estilo de cada boleto */
.boleto {
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ff3030;
  background-color: #f5f5f5;
  color: black;
  // transition: transform 0.2s;
  width: 55px;
  height: 30px; /* un poco más alto para que quepa bien */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;

}


.boleto:hover {
  // transform: scale(1.05);
  cursor: pointer;
}


.boleto-seleccionado {
  background-color: black;
  transition: all 0.3s ease;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}


/* Estados */
.disponible {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.reservado {
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
}

.pagado {
  background-color: #cce5ff;
  color: #004085;
  border-color: #b8daff;
}

//header

/* Contenedor principal */
.sorteo-container {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;
}

/* Encabezado */
.sorteo-header h1 {
  color: #007bff;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Detalles del sorteo */
.sorteo-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

/* Imagen del Mustang */
.mustang-image {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* Información del sorteo */
.sorteo-info p {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.sorteo-info p strong {
  color: #007bff;
}

/* Botón de llamada a la acción */
.cta {
  margin-top: 30px;
}

.participar-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.participar-btn:hover {
  background-color: #0056b3;
}




// slide
.titulo-sorteo {
  font-size: 2rem;      /* Tamaño grande */
  font-weight: bold;    /* Negrita para resaltar */
  color: white;       /* Color llamativo (puedes cambiarlo) */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para darle efecto */
  text-transform: uppercase; /* Convertir a mayúsculas */
  letter-spacing: 1px;  /* Espaciado entre letras */
  margin: 0;            /* Sin margen adicional */
  padding: 10px 0;      /* Espaciado vertical */
  background-color: #fff; /* Fondo blanco para resaltar */
  // border-radius: 10px;  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
  background-color: black;
}

.sub-titulo-sorteo {
  font-size: 1rem;      /* Tamaño grande */
  font-weight: bold;    /* Negrita para resaltar */
  color: #ff3030;       /* Color llamativo (puedes cambiarlo) */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para darle efecto */
  text-transform: uppercase; /* Convertir a mayúsculas */
  letter-spacing: 1px;  /* Espaciado entre letras */
  margin: 0;            /* Sin margen adicional */
  padding: 10px 0;      /* Espaciado vertical */
  background-color: #fff; /* Fondo blanco para resaltar */
  border-radius: 10px;  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
}





.black-background {
  // background-color: black;
  // color: white;
  // width: 100%;
  // padding: 20px;  /* Asegura que haya suficiente espacio alrededor del contenido */
  padding-top: 100px;
  min-height: 100vh;  /* Asegura que cubra toda la altura de la pantalla */
}

 .header-top-bar {
    background-color: black;
    padding: 20px 0;
  }

  .header-top-bar .parrafo {
    color: white;
    font-weight: bold;
    margin: 1.2px 0; /* reduce el espacio entre los párrafos */
    text-align: center;

  }




.btnAzar{
    width:400px;
    height:70px;
    background: linear-gradient(to left top, #000000 50%, #000000 50%);
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.btnAzar span{
    position: absolute;
    display: block;
}
.btnAzar span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
.btnAzar span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
.btnAzar span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

.btnAzar span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

// .btnAzar:hover{
//     transition: all .5s;
//     transform: rotate(-3deg) scale(1.1);
//     box-shadow: 0px 3px 5px rgba(0,0,0,.4);
// }
// .btnAzar:hover span{
//     animation-play-state: paused;
// }

.ticket-search-input {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #aaa;
  width: 250px;
  max-width: 80%;
  text-align: center;
}

ul:hover {
  cursor: pointer;
}


.boletos-apart-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 3px;

  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 100px; /* Ajusta según lo que quieras mostrar */
  overflow-y: auto;
}

