<div class="black-background ">

  <div style="text-align: center;">
    <h2 class="titulo-sorteo">{{raffle.raffle}}</h2>
  </div>

  <div style="width: 100%; max-width: 500px; margin: 0 auto;" class="mt-1">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let img of imagenes">
        <ng-template carouselSlide>
          <img [src]="baseUrl + img.img_name" [alt]="img.img_name"
            style="width: 100%; height: auto; object-fit: contain;" />
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="header-top-bar mt-2">
    <h3 class="parrafo"> <i class="bi bi-arrow-down"></i> Precios <i class="bi bi-arrow-down"></i></h3>
    <h5 class="parrafo"> 1 BOLETO POR : {{raffle.price_per_ticket}}</h5>
    <h5 class="parrafo"> 2 BOLETO POR : {{raffle.price_per_ticket * 2}}</h5>
    <h5 class="parrafo"> 3 BOLETO POR : {{raffle.price_per_ticket * 3}}</h5>
    <h5 class="parrafo"> 4 BOLETO POR : {{raffle.price_per_ticket * 4}}</h5>
    <h5 class="parrafo"> 5 BOLETO POR : {{raffle.price_per_ticket * 5}}</h5>

  </div>

  <div class="container text-center " [innerHTML]="raffle.description"></div>

  <!-- <div class="container mt-3">
    <div class="row justify-content-center">

      <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
        <div class="card mb-4" style="width: 100%; max-width: 20rem; box-shadow: 0 8px 12px rgba(255, 48, 48, 0.2);">
          <div class="card-header bg-danger text-white text-center fw-bold">
            ¡Primer Lugar!
          </div>
          <div class="card-body bg-white text-center">
            <h5 class="card-title">¡3 mil pesos mx!</h5>
            <p class="card-text">Compra boletos desde {{raffle.price_per_ticket}} pesos.</p>
            <i class="bi bi-trophy"></i>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
        <div class="card mb-4" style="width: 100%; max-width: 20rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
          <div class="card-header bg-dark text-white text-center fw-bold">
            ¡Segundo!
          </div>
          <div class="card-body bg-white text-center">
            <h5 class="card-title">¡500 pesos mx!</h5>
            <p class="card-text">Compra boletos desde {{raffle.price_per_ticket}} pesos.</p>
            <i class="bi bi-award-fill"></i>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
        <div class="card mb-4" style="width: 100%; max-width: 20rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
          <div class="card-header bg-dark text-white text-center fw-bold">
            ¡Tercer!
          </div>
          <div class="card-body bg-white text-center">
            <h5 class="card-title">¡500 pesos mx!</h5>
            <p class="card-text">Compra boletos desde {{raffle.price_per_ticket}} pesos.</p>
            <i class="bi bi-gem"></i>

          </div>
        </div>
      </div>

    </div>
  </div> -->

  <div style="text-align: center;" class="mt-2">
    <h2 class="titulo-sorteo"> ¡Aparta tus boletos de la suerte! </h2>

    <!-- <button class="btn-pagar-rojo m-2" *ngIf="lstTicketsToApart.length > 0">
      Apartar boletos
    </button> -->



  </div>





  <div class="mt-1 text-center  ">
    <input type="text" inputmode="numeric" pattern="[0-9]*" placeholder="Buscar" class="ticket-search-input"
      [(ngModel)]="ticketNumber" maxlength="5" (keypress)="onlyNumberKey($event)" (input)="onInputChange($event)" />


    <div class="text-center text-danger" *ngIf="isSearchTicket==false && ticketNumber !== '' ">
      <p><i class="bi bi-x-circle p-1 text-danger fs-4"></i> Boleto no disponible</p>
    </div>
    <div class="text-center text-success" *ngIf="isSearchTicket==true">
      <p><i class="bi bi-check-circle p-1 fs-4"></i> Boleto disponible</p>
      <button class="btn btn-success mt-0" (click)="addTicketToLstToApart()">Seleccionar</button>

    </div>
  </div>

  <!-- Botón para abrir el modal -->
  <div class="mt-2 text-center">
    <button class="btnAzar"  (click)="openModalTicketsRandom()">
      ¡🎰 Maquinita de la Suerte!
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

<!-- Modal maquinita-->
<div class="modal fade" id="maquinitaModal" tabindex="-1" aria-labelledby="maquinitaModalLabel" aria-hidden="true"  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered"> <!-- Añadido modal-dialog-centered -->
    <div class="modal-content">

      <!-- Header del modal -->
      <div class="titulo-sorteo d-flex justify-content-center w-100 position-relative">
        <h5 class="modal-title m-0" id="maquinitaModalLabel">Maquinita de la Suerte</h5>

        <!-- Botón de cerrar alineado a la derecha, pero dentro del mismo div -->
        <button
          type="button"
          class="position-absolute top-0 end-0 m-2 p-2" (click)="closeModalTicketsRandomButton()">
          <i class="bi bi-x-lg "></i>
        </button>
      </div>


      <!-- Cuerpo del modal -->
      <div class="modal-body">




        <div class="mb-3 text-center">
          <label for="cantidadBoletos" class="form-label fw-bold fs-5">Cantidad de boletos a generar:</label>
          <select
            id="cantidadBoletos"
            class="form-select w-50 d-inline-block"
            [(ngModel)]="cantidadSeleccionada"
            name="cantidadBoletos" >
            <option *ngFor="let cantidad of cantidades" [value]="cantidad">
              {{ cantidad }}
            </option>
          </select>
        </div>




        <div class="box-maquina p-3 d-flex align-items-center text-center" (click)="activarEfecto()">


          <div class="boletos-wrapper-maquinita " *ngIf="raffle.oportunities==false">
            <div class="boletos-container-maquina">
              <ng-container *ngFor="let boleto of lstTicketsMaquinita">
                <div class="boleto">
                  <span>{{ boleto.number_tk }}</span>
                </div>
              </ng-container>
            </div>
          </div>


          <div class="boletos-wrapper-maquinita" *ngIf="raffle.oportunities==true && isClicked==false" >
            <div class="boletos-container-maquina">
              <ng-container *ngFor="let boleto of lstTicketsMaquinita">
                <div class="boleto-oportunities">
                  <span class="principal">Boletos: [{{ boleto.number_tk }}]</span>
                  <span class="opportunities"> - Gratis: {{ boleto.opportunities }}</span>
                </div>
              </ng-container>
            </div>
          </div>


          <h3 *ngIf="!isClicked"  class="mt-2">Haz click aqui para seleccionar {{cantidadSeleccionada}} al azar</h3>

          <img
          src="assets/mk-suerte.jpeg"
          [class.clicked]="isClicked"
          [class.shake]="isClicked"
          class="maquinita-img mt-5"
          alt="Maquinita de la suerte"
          *ngIf="isClicked"
        />
        </div>

        <div class="mt-0 text-center" *ngIf="lstTicketsMaquinita.length > 0 && !isClicked">
          <button class="btn-apartar-boleto"   (click)="apartTickets()">
            ¡Apartar Boletos!
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>

      </div>

      <!-- Footer del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mt-0"  (click)="closeModalTicketsRandomButton()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

  <div class="boletos-wrapper mt-3">
    <div class="boletos-container">
      <ng-container *ngFor="let boleto of lstTickets">
        <div class="boleto" [class.boleto-seleccionado]="boleto.status_cst_key==4" (click)="toggleSelect(boleto)">
          <span *ngIf="boleto.status_cst_key!=4">{{ boleto.number_tk }}</span>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- || showModalTkRandom===true || showModalClient===true -->
  <div class="test" *ngIf="shouldShowTicketsToApart" @fadeInOut>
    <button class="btn-pagar-rojo m-2" (click)="openModalClient()">
      Apartar boletos
    </button>

    <div class="boletos-apart-container" *ngIf="lstTicketsToApart.length > 0">
      <ng-container *ngFor="let boleto of lstTicketsToApart">
        <div class="boleto" (click)="removeFromApart(boleto)">
          {{ boleto.number_tk }}
        </div>
      </ng-container>
    </div>

    <p class="label-warning" *ngIf="lstTicketsToApart.length > 0">
      {{ lstTicketsToApart.length }} Boletos seleccionados<br>
      Para eliminar haz click en el boleto
    </p>
  </div>



  <!-- Modal clienteModal-->
<div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="clienteModalLabel" aria-hidden="true"  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered"> <!-- Añadido modal-dialog-centered -->
    <div class="modal-content">

      <!-- Header del modal -->
      <div class="titulo-sorteo d-flex justify-content-center w-100 position-relative">
        <h5 class="modal-title m-0" id="clienteModalLabel">Registro de cliente</h5>

        <!-- Botón de cerrar alineado a la derecha, pero dentro del mismo div -->
        <button
          type="button"
          class="position-absolute top-0 end-0 m-2 p-2"
          data-bs-dismiss="modal"
          aria-label="Close">
          <i class="bi bi-x-lg "></i>
        </button>
      </div>


      <!-- Cuerpo del modal -->
      <div class="modal-body">

        <h2>{{lstTicketsToApart.length}} Boletos seleccionados</h2>


        <div class="mb-3">
          <label for="clienteNombre" class="form-label">Nombre del cliente</label>
          <input type="text" id="clienteNombre" class="form-control"  />
        </div>

        <div class="mb-3">
          <label for="clienteTelefono" class="form-label">Número de teléfono</label>
          <input type="tel" id="clienteTelefono" class="form-control"  />
        </div>

        <div class="mb-3">
          <label for="clienteEstado" class="form-label">Estado</label>
          <input type="text" id="clienteEstado" class="form-control"  />
        </div>

      </div>

      <!-- Footer del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



</div>


<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>




