<div class="sorteos-container">

  <div class="sorteo-card card mb-3">
    <img src="assets/cheyene.jpg" alt="Mustang 2025" class="card-img-top" />

    <div class="card-body">
      <h2 class="card-title">¡CHEYENNE ZR2 2022!</h2>
      <p class="card-text">
        ACCESORIZADA 0km, día martes 16 de agosto 2022. Solo necesitas comprar tu boleto por <strong>$100</strong>.
      </p>

      <!-- Botón para comprar boletos -->
      <button class="btn btn-success mt-3" >Comprar boleto</button>
    </div>
  </div>

  <div class="sorteo-card card mb-3">
    <img src="assets/cheyene.jpg" alt="Mustang 2025" class="card-img-top" />

    <div class="card-body">
      <h2 class="card-title">¡CHEYENNE ZR2 2022!</h2>
      <p class="card-text">
        ACCESORIZADA 0km, día martes 16 de agosto 2022. Solo necesitas comprar tu boleto por <strong>$100</strong>.
      </p>

      <!-- Botón para comprar boletos -->
      <button class="btn btn-success mt-3" >Comprar boleto</button>
    </div>
  </div>


</div>
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h2 class="text-center mb-4">¿CÓMO SE ELIGE A LOS GANADORES?</h2>
      <p>
        Todos nuestros sorteos se realizan en base a la Lotería Nacional para la Asistencia Pública mexicana.​<br><br>
        El ganador de Sorteos El Chato será el participante cuyo número de boleto coincida con las últimas cifras del primer premio ganador de la Lotería Nacional (las fechas serán publicadas en nuestra página oficial).
      </p>

      <h2 class="text-center mb-4">¿QUÉ SUCEDE CUANDO EL NÚMERO GANADOR ES UN BOLETO NO VENDIDO?</h2>
      <p>
        Se elige un nuevo ganador realizando la misma dinámica en otra fecha cercana (se anunciará la nueva fecha).<br><br>
        Esto significa que, ¡Tendrías el doble de oportunidades de ganar con tu mismo boleto!
      </p>

      <h2 class="text-center mb-4">¿DÓNDE SE PUBLICA A LOS GANADORES?</h2>
      <p>
        En nuestra página oficial de Facebook Sorteos El Chato puedes encontrar todos y cada uno de nuestros sorteos anteriores, así como las transmisiones en vivo con Lotería Nacional y las entregas de premios a los ganadores!<br><br>
        Encuentra transmisión en vivo de los sorteos en nuestra página de Facebook en las fechas indicadas a las 20:00 hrs CDMX. ¡No te lo pierdas!
      </p>
    </div>
  </div>
</div>










