<div class="sorteos-container">

  <div class="sorteo-card">
    <h2>¡Sorteo del Mustang 2025!</h2>
    <p>Participa por un increíble Mustang último modelo. Solo necesitas comprar tu boleto por $100.</p>
    <a  class="btn-ver" (click)="verDetalle(33)">Ver detalles</a>
  </div>

  <div class="sorteo-card">
    <h2>¡Sorteo de iPhone 15 Pro!</h2>
    <p>Gana el iPhone más nuevo con solo una participación. ¡Corre antes de que se acaben los boletos!</p>
    <a [routerLink]="['/sorteos', 34]" class="btn-ver">Ver detalles</a>
  </div>

</div>
